@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
main{
    width: 100vw;
    height: 100vh;
    background-image: url("imagens/fundo-madeira.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
#telefone{
    position: absolute;
    width: 311px;
    height: 615px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-image: url(imagens/frame-iphone.png);
}
iframe#tela{
    position: absolute;
    left: 23px;
    top: 81px;

    width: 265px;
    height: 470px;
}
#redesociais{
    text-align: right;
}
#redesociais > a > img{
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.624);
    box-sizing: border-box;
}
#redesociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.88);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform .3s;
}

::-webkit-scrollbar{
    margin: 0px;
    padding: 0px;
}